KATUTA_DASHBOARD_V5_ROBUST.json
{
    "name": "Katuta-Dashboard-V5-Robust",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-post",
            "name": "Webhook POST (Actions)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                200
            ],
            "webhookId": "dashboard-data-id-post"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-get",
            "name": "Webhook GET (Data)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                400
            ],
            "webhookId": "dashboard-data-id-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-options",
            "name": "Webhook OPTIONS (CORS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                600
            ],
            "webhookId": "dashboard-data-id-options"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body && $json.body.action === 'update_status' ? 'POST' : 'GET' }}",
                            "value2": "POST"
                        }
                    ]
                }
            },
            "id": "node-route",
            "name": "Rota (POST vs GET)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\":\"ok\"}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, ngrok-skip-browser-warning"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond-options",
            "name": "Responder OPTIONS",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "// CONFIGURAÇÃO DINÂMICA\nconst query = $input.all()[0].json.query || {};\nlet targetDate = new Date();\nif (query.date) targetDate = new Date(query.date + 'T12:00:00');\n\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\nlet dayName = daysMap[targetDate.getDay()];\nif (dayName === 'Segunda') dayName = 'Terca';\n\nreturn {\n  day_name: dayName,\n  sheet_reservas: `Reservas_${dayName}`,\n  sheet_mesas: `Mesas_${dayName}`,\n  iso_date: targetDate.toISOString().split('T')[0]\n};"
            },
            "id": "node-config-dates",
            "name": "[JS] Configurar Datas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Configurar Datas\"].json.sheet_reservas }}"
                },
                "options": {}
            },
            "id": "node-read-reservas",
            "name": "[GSheets] Ler Reservas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Configurar Datas\"].json.sheet_mesas }}"
                },
                "options": {}
            },
            "id": "node-read-mesas",
            "name": "[GSheets] Ler Mesas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "let reservas = $items(\"[GSheets] Ler Reservas\").map(i => i.json).filter(r => r.Nome_Cliente || r.WhatsApp);\nlet mesas = $items(\"[GSheets] Ler Mesas\").map(i => i.json);\n\n// Métricas Simplificadas\nconst totalReservas = reservas.length;\nconst totalPax = reservas.reduce((acc, curr) => acc + (parseInt(curr.Qtd_Pessoas) || 0), 0);\nlet mesasOcupadas = mesas.filter(m => m.Status && m.Status.toString().toUpperCase() === 'OCUPADA').length;\n\nreturn {\n  metrics: {\n    total_reservas: totalReservas,\n    total_pax: totalPax,\n    mesas_ocupadas: mesasOcupadas,\n    mesas_livres: mesas.length - mesasOcupadas,\n    occupancy_rate: (mesas.length ? Math.round((mesasOcupadas / mesas.length) * 100) : 0) + '%'\n  },\n  reservations: reservas,\n  tables_summary: mesas.map(m => ({ id: m.Mesa_ID, status: m.Status }))\n};"
            },
            "id": "node-calc-metrics",
            "name": "[JS] Calcular Métricas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond",
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// UPDATE STATUS LOGIC\nconst data = $input.item.json;\nconst body = data.body || data;\n\nconst id = body.id;\nconst status = body.status;\nconst action = body.action;\n\n// FIX: Use provided date or fallback to today\nlet targetDate = new Date();\nif (body.date) {\n    // Append time to prevent timezone issues if date is just YYYY-MM-DD\n    targetDate = new Date(body.date + 'T12:00:00');\n}\n\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\nlet dayName = daysMap[targetDate.getDay()];\nif (dayName === 'Segunda') dayName = 'Terca';\n\nreturn {\n  id: id,\n  status: status,\n  sheetNameRes: `Reservas_${dayName}`,\n  sheetNameMesas: `Mesas_${dayName}`\n};"
            },
            "id": "node-prep-update",
            "name": "[JS] Prep Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Prep Update\"].json.sheetNameRes }}"
                },
                "options": {}
            },
            "id": "node-read-all-reservas",
            "name": "[GSheets] Buscar Reserva",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                200
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const allReservas = $input.all().map(i => i.json);\nconst targetId = ($node[\"[JS] Prep Update\"].json.id || '').toString().trim();\n\nconst foundIndex = allReservas.findIndex(r => (r.Reserva_ID || '').toString().trim() == targetId);\n\nif (foundIndex === -1) {\n  return []; // Parar se não encontrar\n}\n\nconst rowNumber = foundIndex + 2; // +1 Header, +1 Index 0-based\n\nreturn { \n    Reserva_ID: targetId, \n    Mesas_Alocadas: allReservas[foundIndex].Mesas_Alocadas,\n    rowNumber: rowNumber\n};"
            },
            "id": "node-filter-reservation",
            "name": "[JS] Find Target",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "method": "PUT",
                "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk/values/' + $node[\"[JS] Prep Update\"].json.sheetNameRes + '!G' + $json.rowNumber + '?valueInputOption=USER_ENTERED' }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ values: [[ $node[\"[JS] Prep Update\"].json.status ]] }) }}",
                "options": {}
            },
            "id": "node-http-update-status",
            "name": "[HTTP] Update Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"[JS] Prep Update\"].json.status }}",
                            "value2": "CANCELADO"
                        },
                        {
                            "value1": "={{ $node[\"[JS] Find Target\"].json.Mesas_Alocadas }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "node-if-cancel",
            "name": "Se Cancelou",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1500,
                200
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "method": "GET",
                "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk/values/' + $node[\"[JS] Prep Update\"].json.sheetNameMesas + '!A:A' }}",
                "options": {}
            },
            "id": "node-http-read-mesas",
            "name": "[HTTP] Ler Mesas (Release)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1700,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// MAPEAR MESAS PARA LIBERAR\nconst mesasToRelease = $node[\"[JS] Find Target\"].json.Mesas_Alocadas; \nconst sheetNameMesas = $node[\"[JS] Prep Update\"].json.sheetNameMesas;\n\n// Dados lidos do Google Sheets via HTTP (Coluna A)\nconst values = $input.item.json.values || [];\nconst allTableIds = values.map(row => row[0]); // Flatten [[id], [id]] to [id, id]\n\nlet mesaIDs = [];\nif (mesasToRelease) {\n    mesaIDs = mesasToRelease.toString().split(',').map(m => parseInt(m.trim())).filter(n => !isNaN(n));\n}\n\nconst batchData = [];\nmesaIDs.forEach(id => {\n    // Encontrar linha (Index + 1 porque A1 é header? Não se pegamos A:A, A1 é 'Mesa_ID')\n    // Google Sheets API values index 0 is A1. So if A1 is header, index 0 is header.\n    // rowNumber should be 1-based.\n    // index 0 -> Row 1 (Header).\n    // index 1 -> Row 2 (First Table).\n    \n    // Match loose equality (1 == '1')\n    const foundIndex = allTableIds.findIndex(tid => tid == id);\n    \n    if (foundIndex !== -1) {\n        const rowNumber = foundIndex + 1; // Google Sheets API uses 1-based indexing for A1 notation ranges\n        \n        // Update Status (C) and WhatsApp (D) to 'LIVRE'\n        batchData.push({ range: `${sheetNameMesas}!C${rowNumber}`, values: [['LIVRE']] });\n        batchData.push({ range: `${sheetNameMesas}!D${rowNumber}`, values: [['LIVRE']] });\n    }\n});\n\nreturn { batchData: batchData };"
            },
            "id": "node-map-tables",
            "name": "[JS] Map Table IDs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1900,
                200
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "method": "POST",
                "url": "https://sheets.googleapis.com/v4/spreadsheets/1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk/values:batchUpdate",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ valueInputOption: 'USER_ENTERED', data: $json.batchData }) }}",
                "options": {}
            },
            "id": "node-http-release-table",
            "name": "[HTTP] Liberar Mesa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2100,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "return { success: true, message: \"Status atualizado.\", debug_sheet: $node[\"[JS] Prep Update\"].json.sheetNameRes };"
            },
            "id": "node-success",
            "name": "[JS] Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                2100,
                200
            ]
        }
    ],
    "connections": {
        "Webhook POST (Actions)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (Data)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook OPTIONS (CORS)": {
            "main": [
                [
                    {
                        "node": "Responder OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rota (POST vs GET)": {
            "main": [
                [
                    {
                        "node": "[JS] Prep Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Configurar Datas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Configurar Datas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Reservas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Reservas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Mesas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Mesas": {
            "main": [
                [
                    {
                        "node": "[JS] Calcular Métricas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Calcular Métricas": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Prep Update": {
            "main": [
                [
                    {
                        "node": "[GSheets] Buscar Reserva",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Buscar Reserva": {
            "main": [
                [
                    {
                        "node": "[JS] Find Target",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Find Target": {
            "main": [
                [
                    {
                        "node": "[HTTP] Update Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[HTTP] Update Status": {
            "main": [
                [
                    {
                        "node": "Se Cancelou",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Se Cancelou": {
            "main": [
                [
                    {
                        "node": "[JS] Map Table IDs",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Map Table IDs": {
            "main": [
                [
                    {
                        "node": "[HTTP] Ler Mesas (Release)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[HTTP] Ler Mesas (Release)": {
            "main": [
                [
                    {
                        "node": "[JS] Map Table IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Map Table IDs": {
            "main": [
                [
                    {
                        "node": "[HTTP] Liberar Mesa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[HTTP] Liberar Mesa": {
            "main": [
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Success": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "NyQKhHnymOvXQRdx"
    }
}