katuta_01_reception.json
{
  "name": "Katuta-01-Reception",
  "settings": {
    "errorWorkflow": "NyQKhHnymOvXQRdx"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "katuta-webhook",
        "options": {}
      },
      "id": "e8a93b4a-1f6b-4e6a-93f5-746a55c65502",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n// Extraindo IDs específicos da Meta Cloud API\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\n\nreturn {\n  whatsapp_id: message?.from || \"unknown\",\n  message_text: message?.text?.body || \"\",\n  timestamp: new Date().toISOString(),\n  from_name: value?.contacts?.[0]?.profile?.name || \"Cliente\"\n};"
      },
      "id": "d7c2a1b0-3e2b-4f9e-a1d2-b3c4d5e6f7a8",
      "name": "[JS] Parse Meta Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "BVr8U25654fBzy6N",
        "options": {}
      },
      "id": "f5e4d3c2-b1a0-4e9d-8c7b-6a5f4e3d2c1b",
      "name": "Execute Brain",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        650,
        240
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "SUA_PHONE_NUMBER_ID_AQUI",
        "recipientPhoneNumber": "={{ $node[\"[JS] Parse Meta Message\"].json[\"whatsapp_id\"] }}",
        "text": "={{ $node[\"Execute Brain\"].json[\"output\"] }}"
      },
      "id": "w1",
      "name": "WhatsApp Send",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        850,
        240
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "[JS] Parse Meta Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[JS] Parse Meta Message": {
      "main": [
        [
          {
            "node": "Execute Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Brain": {
      "main": [
        [
          {
            "node": "WhatsApp Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}