katuta_dashboard_v7_demo.json
{
    "name": "Katuta-Dashboard-V7-DEMO-CLIENTE",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-post",
            "name": "Webhook POST (Actions)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                200
            ],
            "webhookId": "dashboard-data-id-post"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-get",
            "name": "Webhook GET (Data)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                400
            ],
            "webhookId": "dashboard-data-id-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-options",
            "name": "Webhook OPTIONS (CORS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                600
            ],
            "webhookId": "dashboard-data-id-options"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body && $json.body.action === 'update_status' ? 'POST' : 'GET' }}",
                            "value2": "POST"
                        }
                    ]
                }
            },
            "id": "node-route",
            "name": "Rota (POST vs GET)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\":\"ok\"}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, ngrok-skip-browser-warning"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond-options",
            "name": "Responder OPTIONS",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "// CONFIG DEMO CLIENTE - FIXO PARA HOJE\nconst now = new Date();\nconst targetDate = new Date(now.getTime() - (3 * 60 * 60 * 1000)); // UTC-3 Fix\n\nconst isoDate = targetDate.toISOString().split('T')[0];\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\nlet dayName = daysMap[targetDate.getDay()];\nif (dayName === 'Segunda') dayName = 'Terca';\n\n// HARDCODED FOR STABILITY\nconst sheetNameRes = `Reservas_Quarta`;\nconst sheetNameMesas = `Mesas_Quarta`;\n\nreturn {\n  day_name: dayName,\n  target_day: dayName,\n  sheet_reservas: sheetNameRes,\n  sheet_mesas: sheetNameMesas,\n  date_formatted: targetDate.toLocaleDateString('pt-BR'),\n  iso_date: isoDate\n};"
            },
            "id": "node-config-dates",
            "name": "[JS] Configurar Datas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Quarta"
                },
                "options": {}
            },
            "id": "node-read-reservas",
            "name": "[GSheets] Ler Reservas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Mesas_Quarta"
                },
                "options": {}
            },
            "id": "node-read-mesas",
            "name": "[GSheets] Ler Mesas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "let reservas = [];\ntry {\n    reservas = $items(\"[GSheets] Ler Reservas\").map(i => i.json);\n} catch (e) { console.log('Erro ao ler reservas ou vazio'); }\n\nlet mesas = [];\ntry {\n    mesas = $items(\"[GSheets] Ler Mesas\").map(i => i.json);\n} catch (e) { console.log('Erro ao ler mesas ou vazio'); }\n\nconst config = $items(\"[JS] Configurar Datas\")[0].json;\n\n// FILTRO SIMPLIFICADO PARA DEMO\nreservas = reservas.filter(r => {\n  if (!r.Nome_Cliente && !r.WhatsApp) return false;\n  return true;\n});\n\n// Métricas\nconst totalReservas = reservas.length;\nconst totalPax = reservas.reduce((acc, curr) => acc + (parseInt(curr.Qtd_Pessoas) || 0), 0);\n\nlet mesasOcupadas = 0;\nlet mesasLivres = 0;\nlet totalMesas = mesas.length;\n\nif (totalMesas > 0) {\n  mesasOcupadas = mesas.filter(m => m.Status && m.Status.toString().toUpperCase() === 'OCUPADA').length;\n  mesasLivres = totalMesas - mesasOcupadas;\n}\n\nconst occupancyRate = totalMesas > 0 ? Math.round((mesasOcupadas / totalMesas) * 100) : 0;\n\nreturn {\n  meta: {\n    day: config.target_day,\n    date: config.date_formatted,\n    is_monday: config.is_monday\n  },\n  metrics: {\n    total_reservas: totalReservas,\n    total_pax: totalPax,\n    mesas_ocupadas: mesasOcupadas,\n    mesas_livres: mesasLivres,\n    occupancy_rate: occupancyRate + '%'\n  },\n  reservations: reservas\n};"
            },
            "id": "node-calc-metrics",
            "name": "[JS] Calcular Métricas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond",
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// UPDATE STATUS - HARDCODED FOR DEMO\nconst body = $input.item.json.body;\nconst id = body.id;\nconst status = body.status;\n\n// FORÇAR ABA DE HOJE PARA EVITAR ERROS\nconst sheetNameRes = \"Reservas_Quarta\";\nconst sheetNameMesas = \"Mesas_Quarta\";\n\nreturn { id, status, sheetNameRes, sheetNameMesas };"
            },
            "id": "node-prep-update",
            "name": "[JS] Prep Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Quarta"
                },
                "options": {}
            },
            "id": "node-lookup-reservation",
            "name": "[GSheets] Buscar Reserva",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Quarta"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "={{ $node[\"[JS] Prep Update\"].json.status }}"
                    },
                    "matchingColumns": [
                        "Reserva_ID"
                    ]
                },
                "options": {}
            },
            "id": "node-update-sheet",
            "name": "[GSheets] Atualizar Status",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"[JS] Prep Update\"].json.status }}",
                            "value2": "CANCELADA"
                        },
                        {
                            "value1": "={{ $node[\"[GSheets] Buscar Reserva\"].json.Mesas_Alocadas }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "node-if-cancel",
            "name": "Se Cancelou",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Mesas_Quarta"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "LIVRE"
                    },
                    "matchingColumns": [
                        "Mesa_ID"
                    ]
                },
                "options": {}
            },
            "id": "node-free-table",
            "name": "[GSheets] Liberar Mesa",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1500,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "return { success: true, message: \"Status atualizado e mesa liberada (se aplicável)\" };"
            },
            "id": "node-success",
            "name": "[JS] Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1700,
                200
            ]
        }
    ],
    "connections": {
        "Webhook POST (Actions)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (Data)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook OPTIONS (CORS)": {
            "main": [
                [
                    {
                        "node": "Responder OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rota (POST vs GET)": {
            "main": [
                [
                    {
                        "node": "[JS] Prep Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Configurar Datas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Configurar Datas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Reservas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Reservas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Mesas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Mesas": {
            "main": [
                [
                    {
                        "node": "[JS] Calcular Métricas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Calcular Métricas": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Prep Update": {
            "main": [
                [
                    {
                        "node": "[GSheets] Buscar Reserva",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Buscar Reserva": {
            "main": [
                [
                    {
                        "node": "[GSheets] Atualizar Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Atualizar Status": {
            "main": [
                [
                    {
                        "node": "Se Cancelou",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Se Cancelou": {
            "main": [
                [
                    {
                        "node": "[GSheets] Liberar Mesa",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Liberar Mesa": {
            "main": [
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Success": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "NyQKhHnymOvXQRdx"
    }
}