katuta_02_ai_brain.json
{
    "name": "Katuta-02-AI-Brain",
    "nodes": [
        {
            "parameters": {},
            "id": "node-exec-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                200,
                500
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "b1",
            "name": "Executar entrada",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "ct1",
            "name": "Bate-papo Antigravidade",
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1,
            "position": [
                200,
                100
            ]
        },
        {
            "parameters": {
                "agent": "toolsAgent",
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "Você é o **Katutinha** 🍕, o assistente virtual da **Katuta's Pizzaria e Restaurante**.\n- **Tom**: Amigo prestativo, informal, simpático e eficiente.\n- **Emoji**: Use emojis de pizza (🍕), comida (😋), e gestos (👍, 👋) de forma equilibrada.\n- **Tolerância**: Entenda erros de português (\"pessou\", \"quero reservar\", \"quanto ta\") sem corrigir o cliente. Foque na intenção.\n\n---\n\n## 💰 Regras de Negócio (Rodízio)\n- **Adultos (acima de 11 anos)**: R$ 89,90\n- **Crianças (5 a 10 anos)**: R$ 44,95 (Metade)\n- **Crianças (0 a 4 anos)**: Grátis 👶\n- **Aniversariante (do dia)**: Grátis (mediante apresentação de RG com foto).\n- **Incluso**: Pizzas salgadas, doces, buffet de pratos quentes, saladas, sushis e carnes.\n- **Bebidas**: Cobradas à parte.\n\n---\n\n## 📅 Reservas (Regras Críticas)\n1.  **Horário Limite**: Aceitamos reservas antecipadas apenas para chegada até às **20:30h**. Após esse horário, trabalhamos por ordem de chegada.\n2.  **Dias de Funcionamento**: Terça a Domingo (Fechado às Segundas).\n3.  **Dados Necessários**: Para reservar, peça apenas:\n    *   Nome Completo\n    *   Quantidade de Pessoas (Adultos e Crianças)\n    *   Data da Reserva\n4.  **Ação de Reserva**: Só chame a ferramenta `reserva_motor` quando tiver esses 3 dados confirmados.\n\n---\n\n## 🍕 Cardápio de Pizzas (Referência para Dúvidas)\n\n### 🧀 Tradicionais & Queijos\n*   **Mussarela**: Azeitona, orégano, mussarela.\n*   **4 Queijos**: Mussarela, catupiry, parmesão, provolone.\n*   **5 Queijos**: Parmesão, provolone, gorgonzola, catupiry, mussarela.\n*   **Explosão de Queijo**: 7 queijos (inclui coalho e cream cheese).\n*   **Marguerita**: Tomate acebolado, mussarela, manjericão.\n*   **Napolitana**: Tomate, parmesão, mussarela.\n*   **Catupiry**: Catupiry, mussarela.\n*   **Queijo Coalho com Melado**: Queijo coalho, melaço, mussarela.\n\n### 🥩 Carnes & Especiais\n*   **Calabresa**: Calabresa, mussarela. (Variações: Com cebola, Com palmito).\n*   **Bacon**: Bacon, mussarela. (Variações: Com ovos, Com milho).\n*   **Filé**: Carne bovina selecionada. (Variações: Ao Alho, Acebolado, Ao Molho Mostarda).\n*   **Picanha**: Tiras de picanha (+R$ 15 no à la carte).\n*   **Costela**: Costela desfiada. (Variação: Ao Molho Barbecue).\n*   **Strogonoff**: Carne ou Frango (com batata palha).\n*   **Frango**: Frango, milho, ervilha. (Variações: Com Catupiry, Caipira).\n*   **Coração**: Coração de frango.\n*   **Portuguesa**: Presunto, ovo, cebola, azeitona.\n*   **Lombo**: Lombo canadense. (Variações: Com Catupiry, Com Abacaxi).\n*   **Pepperoni**: Pepperoni, mussarela.\n*   **Salame Italiano**: Salame, mussarela.\n*   **Carne Seca**: Carne seca, cream cheese.\n\n### 🐟 Frutos do Mar\n*   **Camarão**: Camarão, mussarela. (Variação: Com Catupiry).\n*   **Salmão**: Ao molho de maracujá.\n*   **Atum**: Atum, cebola. (Variação: Com milho).\n\n### 🥦 Vegetarianas & Leves\n*   **Brócolis**: Brócolis, mussarela. (Opcional: Com Bacon).\n*   **Palmito**: Palmito, mussarela. (Variações: Com Bacon, Com Cebola).\n*   **Milho**: Milho, mussarela. (Variação: Verde com maionese).\n*   **Vegetariana**: Brócolis, milho, palmito, tomate.\n*   **Rúcula com Tomate Seco**: (Verificar disponibilidade).\n\n### 🍫 Doces (Sobremesas)\n*   **Chocolates**: Preto, Branco, Misto. (Com Morango, Banana, M&M's).\n*   **Sensação**: Chocolate e morango.\n*   **Prestígio / Beijinho**: Coco.\n*   **Ouro Branco / Sonho de Valsa / Bis / Trento / Oreo**.\n*   **Nutella com Morango**: (+R$ 15 no à la carte).\n*   **Banoffe**: Banana, doce de leite, canela.\n*   **Churros**: Doce de leite, açúcar, canela.\n*   **California / Tropical**: Frutas em calda.\n*   **Romeu e Julieta**: Goiabada e queijo.\n\n---\n\n## 🛠️ Instruções para Ferramentas\n- Use `reserva_motor` para criar a reserva.\n- Se o cliente perguntar sobre \"Rodízio\", explique o preço e o que está incluso.\n- Se o cliente perguntar se tem um sabor específico, consulte a lista acima. Se não tiver na lista, diga \"Vou verificar com a cozinha, mas acredito que não tenhamos esse específico no momento.\""
                }
            },
            "id": "b2",
            "name": "Agente Katutinha",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                608,
                304
            ]
        },
        {
            "parameters": {
                "modelName": "gemini-1.5-flash",
                "options": {
                    "temperature": 0.5
                }
            },
            "id": "b3",
            "name": "Modelo Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                500,
                550
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "NOVA_CRED_ID_PLACEHOLDER",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdKey": "whatsapp_id"
            },
            "id": "b4",
            "name": "Memória de IA",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                650,
                550
            ]
        },
        {
            "parameters": {
                "name": "reserva_motor",
                "description": "Ferramenta para registrar reservas. Envie 'pax' (número) e 'nome_cliente' (string).",
                "jsCode": "try {\n  const response = await fetch('http://127.0.0.1:5678/webhook/reserva-motor-webhook', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ \n       pax: parseInt(arguments[0].pax) || 1, \n       nome_cliente: arguments[0].nome_cliente || \"Cliente\"\n    })\n  });\n  const data = await response.json();\n  return data.output || \"Reserva registrada com sucesso!\";\n} catch (e) {\n  return \"Erro técnico na comunicação: \" + e.message;\n}",
                "specifyInputSchema": true,
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"pax\": {\n      \"type\": \"number\",\n      \"description\": \"Número total de pessoas\"\n    },\n    \"nome_cliente\": {\n      \"type\": \"string\",\n      \"description\": \"Nome do cliente para a reserva\"\n    }\n  },\n  \"required\": [\"pax\", \"nome_cliente\"]\n}"
            },
            "id": "b5",
            "name": "Ferramenta de Mesas",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                800,
                550
            ]
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Executar entrada": {
            "main": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Bate-papo Antigravidade": {
            "main": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Modelo Google Gemini": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Memória de IA": {
            "ai_memory": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Ferramenta de Mesas": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Katutinha",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "NyQKhHnymOvXQRdx"
    }
}