KATUTA_DASHBOARD_V6_HTTP.json
{
    "name": "Katuta-Dashboard-V6-HTTP",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-post",
            "name": "Webhook POST (Actions)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                200
            ],
            "webhookId": "dashboard-data-id-post"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-get",
            "name": "Webhook GET (Data)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                400
            ],
            "webhookId": "dashboard-data-id-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-options",
            "name": "Webhook OPTIONS (CORS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                600
            ],
            "webhookId": "dashboard-data-id-options"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body && $json.body.action === 'update_status' ? 'POST' : 'GET' }}",
                            "value2": "POST"
                        }
                    ]
                }
            },
            "id": "node-route",
            "name": "Rota (POST vs GET)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\":\"ok\"}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, ngrok-skip-browser-warning"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond-options",
            "name": "Responder OPTIONS",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "// CONFIGURAÇÃO DINÂMICA\nconst query = $input.all()[0].json.query || {};\nlet targetDate = new Date();\nif (query.date) targetDate = new Date(query.date + 'T12:00:00');\n\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\nlet dayName = daysMap[targetDate.getDay()];\nif (dayName === 'Segunda') dayName = 'Terca';\n\nreturn {\n  day_name: dayName,\n  sheet_reservas: `Reservas_${dayName}`,\n  sheet_mesas: `Mesas_${dayName}`,\n  iso_date: targetDate.toISOString().split('T')[0]\n};"
            },
            "id": "node-config-dates",
            "name": "[JS] Configurar Datas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Configurar Datas\"].json.sheet_reservas }}"
                },
                "options": {}
            },
            "id": "node-read-reservas",
            "name": "[GSheets] Ler Reservas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Configurar Datas\"].json.sheet_mesas }}"
                },
                "options": {}
            },
            "id": "node-read-mesas",
            "name": "[GSheets] Ler Mesas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "let reservas = $items(\"[GSheets] Ler Reservas\").map(i => i.json).filter(r => r.Nome_Cliente || r.WhatsApp);\nlet mesas = $items(\"[GSheets] Ler Mesas\").map(i => i.json);\n\n// Métricas Simplificadas\nconst totalReservas = reservas.length;\nconst totalPax = reservas.reduce((acc, curr) => acc + (parseInt(curr.Qtd_Pessoas) || 0), 0);\nlet mesasOcupadas = mesas.filter(m => m.Status && m.Status.toString().toUpperCase() === 'OCUPADA').length;\n\nreturn {\n  metrics: {\n    total_reservas: totalReservas,\n    total_pax: totalPax,\n    mesas_ocupadas: mesasOcupadas,\n    mesas_livres: mesas.length - mesasOcupadas,\n    occupancy_rate: (mesas.length ? Math.round((mesasOcupadas / mesas.length) * 100) : 0) + '%'\n  },\n  reservations: reservas,\n  tables_summary: mesas.map(m => ({ id: m.Mesa_ID, status: m.Status }))\n};"
            },
            "id": "node-calc-metrics",
            "name": "[JS] Calcular Métricas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond",
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// UPDATE STATUS LOGIC\nconst data = $input.item.json;\nconst body = data.body || data;\n\nconst id = body.id;\nconst status = body.status;\nconst action = body.action;\n\nconst today = new Date();\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\nlet dayName = daysMap[today.getDay()];\nif (dayName === 'Segunda') dayName = 'Terca';\n\nreturn {\n  id: id,\n  status: status,\n  sheetNameRes: `Reservas_${dayName}`,\n  sheetNameMesas: `Mesas_${dayName}`\n};"
            },
            "id": "node-prep-update",
            "name": "[JS] Prep Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Prep Update\"].json.sheetNameRes }}"
                },
                "options": {}
            },
            "id": "node-read-all-reservas",
            "name": "[GSheets] Ler Todas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                200
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const allItems = $input.all();\nconst allReservas = allItems.map(i => i.json);\nconst targetId = $node[\"[JS] Prep Update\"].json.id;\nconst targetStatus = $node[\"[JS] Prep Update\"].json.status;\nconst sheetNameRes = $node[\"[JS] Prep Update\"].json.sheetNameRes;\n\n// Encontra item e indice\nconst foundIndex = allReservas.findIndex(r => r.Reserva_ID == targetId);\n\nif (foundIndex === -1) {\n  return { success: false, message: \"Reserva não encontrada\" };\n}\n\n// Calcula a linha: Índice + 2 (1 pelo cabeçalho, 1 pelo 0-based index)\nconst rowNumber = foundIndex + 2;\n\n// Descobre a letra da coluna Status\n// Assume-se que a primeira linha tem as chaves. Vamos pegar do proprio item.\nconst headers = Object.keys(allReservas[0]);\nconst statusIndex = headers.indexOf('Status');\n\n// Função para transformar número em letra (0 -> A, 1 -> B)\nfunction indexToLetter(index) {\n  let letter = \"\";\n  while (index >= 0) {\n    letter = String.fromCharCode((index % 26) + 65) + letter;\n    index = Math.floor(index / 26) - 1;\n  }\n  return letter;\n}\n\nlet statusColLetter = \"F\"; // Default se der erro\nif (statusIndex !== -1) {\n  statusColLetter = indexToLetter(statusIndex);\n}\n\n// Constrói o Range A1, ex: Reservas_Terca!F5\nconst range = `${sheetNameRes}!${statusColLetter}${rowNumber}`;\n\nreturn {\n  range: range,\n  status: targetStatus,\n  Mesas_Alocadas: allReservas[foundIndex].Mesas_Alocadas\n};"
            },
            "id": "node-calc-range",
            "name": "[JS] Encontrar Range",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleSheetsOAuth2Api",
                "method": "PUT",
                "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk/values/' + $json.range + '?valueInputOption=USER_ENTERED' }}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "values",
                            "value": "={{ [ [$json.status] ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-http-update",
            "name": "[HTTP] Update Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"[JS] Encontrar Range\"].json.status }}",
                            "value2": "CANCELADA"
                        },
                        {
                            "value1": "={{ $node[\"[JS] Encontrar Range\"].json.Mesas_Alocadas }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "node-if-cancel",
            "name": "Se Cancelou",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1500,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// MAPEAR MESAS PARA LIBERAR\nconst mesas = $json.Mesas_Alocadas; // Ex: \"1, 2, 5\"\nlet mesaIDs = [];\nif (mesas) {\n    mesaIDs = mesas.toString().split(',').map(m => m.trim());\n}\n\n// Cria um item para cada mesa, para atualizar uma por uma\n// Isso garante que se forem múltiplas mesas, todas serão atualizadas\nreturn mesaIDs.map(id => ({\n    json: {\n        Mesa_ID: id,\n        Status: \"LIVRE\"\n    }\n}));"
            },
            "id": "node-map-tables",
            "name": "[JS] Map Table IDs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1700,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $node[\"[JS] Prep Update\"].json.sheetNameMesas }}"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "LIVRE"
                    },
                    "matchingColumns": [
                        "Mesa_ID"
                    ]
                },
                "options": {}
            },
            "id": "node-free-table",
            "name": "[GSheets] Liberar Mesa",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1900,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "return { success: true, message: \"Status atualizado e mesa liberada (se aplicável)\" };"
            },
            "id": "node-success",
            "name": "[JS] Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                2100,
                200
            ]
        }
    ],
    "connections": {
        "Webhook POST (Actions)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (Data)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook OPTIONS (CORS)": {
            "main": [
                [
                    {
                        "node": "Responder OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rota (POST vs GET)": {
            "main": [
                [
                    {
                        "node": "[JS] Prep Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Configurar Datas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Configurar Datas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Reservas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Reservas": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Mesas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Mesas": {
            "main": [
                [
                    {
                        "node": "[JS] Calcular Métricas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Calcular Métricas": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Prep Update": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Todas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Todas": {
            "main": [
                [
                    {
                        "node": "[JS] Encontrar Range",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Encontrar Range": {
            "main": [
                [
                    {
                        "node": "[HTTP] Update Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[HTTP] Update Status": {
            "main": [
                [
                    {
                        "node": "Se Cancelou",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Se Cancelou": {
            "main": [
                [
                    {
                        "node": "[JS] Map Table IDs",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Map Table IDs": {
            "main": [
                [
                    {
                        "node": "[GSheets] Liberar Mesa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Liberar Mesa": {
            "main": [
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Success": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "NyQKhHnymOvXQRdx"
    }
}