KATUTA_EMERGENCY_FIX.json
{
    "name": "Katuta-Emergency-Fix",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-post",
            "name": "Webhook POST (Actions)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                200
            ],
            "webhookId": "dashboard-data-id-post"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-get",
            "name": "Webhook GET (Data)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                400
            ],
            "webhookId": "dashboard-data-id-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "dashboard-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-options",
            "name": "Webhook OPTIONS (CORS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                600
            ],
            "webhookId": "dashboard-data-id-options"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body && $json.body.action === 'update_status' ? 'POST' : 'GET' }}",
                            "value2": "POST"
                        }
                    ]
                }
            },
            "id": "node-route",
            "name": "Rota (POST vs GET)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\":\"ok\"}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, ngrok-skip-browser-warning"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond-options",
            "name": "Responder OPTIONS",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "// CONFIGURAÇÃO DE EMERGÊNCIA\n// Ignora data do painel e força HOJE (Terça)\n\nreturn {\n  day_name: 'Terca',\n  target_day: 'Terca',\n  sheet_reservas: 'Reservas_Terca',\n  sheet_mesas: 'Mesas_Terca',\n  date_formatted: '17/02/2026',\n  iso_date: '2026-02-17'\n};"
            },
            "id": "node-config-dates",
            "name": "[JS] Configurar Datas (FIXO)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Terca"
                },
                "options": {}
            },
            "id": "node-read-reservas",
            "name": "[GSheets] Ler Reservas (FIXO)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                900,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Mesas_Terca"
                },
                "options": {}
            },
            "id": "node-read-mesas",
            "name": "[GSheets] Ler Mesas (FIXO)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "alwaysOutputData": true,
            "position": [
                1100,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Acessando dados dos nós anteriores via nome (agora execução serial)\nlet reservas = [];\ntry {\n    reservas = $items(\"[GSheets] Ler Reservas (FIXO)\").map(i => i.json);\n} catch (e) { console.log('Erro ao ler reservas ou vazio'); }\n\nlet mesas = [];\ntry {\n    mesas = $items(\"[GSheets] Ler Mesas (FIXO)\").map(i => i.json);\n} catch (e) { console.log('Erro ao ler mesas ou vazio'); }\n\nconst config = $items(\"[JS] Configurar Datas (FIXO)\")[0].json;\n\n// SEM FILTROS DE DATA (DEBUG)\n// Retorna TUDO que estiver na planilha\nreservas = reservas.filter(r => r.Nome_Cliente || r.WhatsApp);\n\n// Métricas Reservas\nconst totalReservas = reservas.length;\nconst totalPax = reservas.reduce((acc, curr) => acc + (parseInt(curr.Qtd_Pessoas) || 0), 0);\n\n// Métricas Mesas\nlet mesasOcupadas = 0;\nlet mesasLivres = 0;\nlet totalMesas = mesas.length;\n\nif (totalMesas > 0) {\n  mesasOcupadas = mesas.filter(m => m.Status && m.Status.toString().toUpperCase() === 'OCUPADA').length;\n  mesasLivres = totalMesas - mesasOcupadas;\n}\n\nconst occupancyRate = totalMesas > 0 ? Math.round((mesasOcupadas / totalMesas) * 100) : 0;\n\nreturn {\n  meta: {\n    day: config.target_day,\n    date: config.date_formatted,\n    is_monday: config.day_name === 'Segunda'\n  },\n  metrics: {\n    total_reservas: totalReservas,\n    total_pax: totalPax,\n    mesas_ocupadas: mesasOcupadas,\n    mesas_livres: mesasLivres,\n    occupancy_rate: occupancyRate + '%'\n  },\n  reservations: reservas,\n  tables_summary: mesas.map(m => ({ id: m.Mesa_ID, status: m.Status }))\n};"
            },
            "id": "node-calc-metrics",
            "name": "[JS] Calcular Métricas (DEBUG)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1300,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "node-respond",
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// UPDATE STATUS LOGIC\nconst data = $input.item.json;\nconst body = data.body || data;\n\nconst id = body.id;\nconst status = body.status;\nconst action = body.action;\n\n// Força Terça apenas para hoje\nconst sheetNameRes = 'Reservas_Terca';\nconst sheetNameMesas = 'Mesas_Terca';\n\nreturn {\n  id: id,\n  status: status,\n  sheetNameRes: sheetNameRes,\n  sheetNameMesas: sheetNameMesas\n};"
            },
            "id": "node-prep-update",
            "name": "[JS] Prep Update (FIXO)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {
                "operation": "lookup",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Terca"
                },
                "lookupColumn": "Reserva_ID",
                "lookupValue": "={{ $json.id }}",
                "options": {}
            },
            "id": "node-lookup-reservation-fixed",
            "name": "[GSheets] Buscar Reserva (FIXO)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Terca"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "={{ $node[\"[JS] Prep Update (FIXO)\"].json.status }}"
                    },
                    "matchingColumns": [
                        "Reserva_ID"
                    ]
                },
                "options": {}
            },
            "id": "node-update-sheet",
            "name": "[GSheets] Atualizar Status (FIXO)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"[JS] Prep Update (FIXO)\"].json.status }}",
                            "value2": "CANCELADA"
                        },
                        {
                            "value1": "={{ $node[\"[GSheets] Buscar Reserva (FIXO)\"].json.Mesas_Alocadas }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "node-if-cancel",
            "name": "Se Cancelou",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Mesas_Terca"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "LIVRE"
                    },
                    "matchingColumns": [
                        "Mesa_ID"
                    ]
                },
                "options": {}
            },
            "id": "node-free-table",
            "name": "[GSheets] Liberar Mesa (FIXO)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1500,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "return { success: true, message: \"Status atualizado e mesa liberada (se aplicável)\" };"
            },
            "id": "node-success",
            "name": "[JS] Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1700,
                150
            ]
        }
    ],
    "connections": {
        "Webhook POST (Actions)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (Data)": {
            "main": [
                [
                    {
                        "node": "Rota (POST vs GET)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook OPTIONS (CORS)": {
            "main": [
                [
                    {
                        "node": "Responder OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rota (POST vs GET)": {
            "main": [
                [
                    {
                        "node": "[JS] Prep Update (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Configurar Datas (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Configurar Datas (FIXO)": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Reservas (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Reservas (FIXO)": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Mesas (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Mesas (FIXO)": {
            "main": [
                [
                    {
                        "node": "[JS] Calcular Métricas (DEBUG)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Calcular Métricas (DEBUG)": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Prep Update (FIXO)": {
            "main": [
                [
                    {
                        "node": "[GSheets] Buscar Reserva (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Buscar Reserva (FIXO)": {
            "main": [
                [
                    {
                        "node": "[GSheets] Atualizar Status (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Atualizar Status (FIXO)": {
            "main": [
                [
                    {
                        "node": "Se Cancelou",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Se Cancelou": {
            "main": [
                [
                    {
                        "node": "[GSheets] Liberar Mesa (FIXO)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Liberar Mesa (FIXO)": {
            "main": [
                [
                    {
                        "node": "[JS] Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Success": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "NyQKhHnymOvXQRdx"
    }
}