katuta_90_weekly_cleanup.json
{
    "name": "Katuta-90-Weekly-Cleanup",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 4 * * 1"
                        }
                    ]
                }
            },
            "id": "node-schedule",
            "name": "Agendamento (Seg 04h)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Futuras"
                },
                "options": {
                    "dataStartRow": 2
                }
            },
            "id": "node-read-future",
            "name": "[GSheets] Ler Futuras",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const allReservations = $input.all();\nconst today = new Date();\n\n// Calcula o próximo Domingo (Fim desta semana que começa)\nconst nextSunday = new Date(today);\nnextSunday.setDate(today.getDate() + (7 - today.getDay()));\nnextSunday.setHours(23, 59, 59, 999);\n\nconst daysMap = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\n\nlet toMove = [];\nlet rowsToDelete = [];\n\nallReservations.forEach((item, index) => {\n  const res = item.json;\n  if (!res.data_reserva) return;\n\n  const dateParts = res.data_reserva.split('-');\n  const resDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);\n\n  // Lógica FLEXÍVEL: Move qualquer reserva dos próximos 8 dias\n  const limitDate = new Date(today);\n  limitDate.setDate(today.getDate() + 8);\n  limitDate.setHours(23, 59, 59, 999);\n\n  if (resDate <= limitDate) {\n    // É próxima semana! Mover.\n    const dayName = daysMap[resDate.getDay()];\n    const targetSheet = `Reservas_${dayName}`;\n    \n    res.Status = \"Confirmada (Migrada)\";\n    res.targetSheet = targetSheet;\n    \n    // Salva o item para mover\n    toMove.push(res);\n    \n    // Salva o número da linha para deletar (Index começa em 0, mas lemos a partir da linha 2)\n    // Ex: Index 0 é a linha 2 da planilha.\n    rowsToDelete.push(index + 2);\n  }\n});\n\n// Ordena as linhas para deletar de baixo para cima (para não quebrar índices)\nrowsToDelete.sort((a, b) => b - a);\n\nreturn [\n  { json: { list: toMove, rowsToDelete: rowsToDelete, type: 'move' } }\n];"
            },
            "id": "node-logic-split",
            "name": "[JS] Analisar Reservas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const toMove = $input.first().json.list;\nif (!toMove || toMove.length === 0) return [];\nreturn toMove.map(item => ({ json: item }));"
            },
            "id": "node-prepare-move",
            "name": "[JS] Preparar Movimento",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "={{ $json.targetSheet }}"
                },
                "options": {}
            },
            "id": "node-append-daily",
            "name": "[GSheets] Distribuir Reservas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const rowsToDelete = $node[\"[JS] Analisar Reservas\"].json.rowsToDelete;\nif (!rowsToDelete || rowsToDelete.length === 0) return [];\n\n// Retorna um item para cada linha a ser deletada\nreturn rowsToDelete.map(rowNum => ({ json: { row: rowNum } }));"
            },
            "id": "node-prepare-delete",
            "name": "[JS] Preparar Deleção",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                800,
                450
            ]
        },
        {
            "parameters": {
                "operation": "delete",
                "documentId": "1LyDrtgOdh9hfEEcZso3r-Bzg5J8XtL1306fsURMK4hk",
                "sheetName": {
                    "value": "Reservas_Futuras"
                },
                "startIndex": "={{ $json.row }}",
                "endIndex": "={{ $json.row }}"
            },
            "id": "node-delete-rows",
            "name": "[GSheets] Deletar Linhas Processadas",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1000,
                450
            ]
        }
    ],
    "connections": {
        "Agendamento (Seg 04h)": {
            "main": [
                [
                    {
                        "node": "[GSheets] Ler Futuras",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[GSheets] Ler Futuras": {
            "main": [
                [
                    {
                        "node": "[JS] Analisar Reservas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Analisar Reservas": {
            "main": [
                [
                    {
                        "node": "[JS] Preparar Movimento",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "[JS] Preparar Deleção",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Preparar Movimento": {
            "main": [
                [
                    {
                        "node": "[GSheets] Distribuir Reservas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "[JS] Preparar Deleção": {
            "main": [
                [
                    {
                        "node": "[GSheets] Deletar Linhas Processadas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}