katuta_11_create_user_api.json
{
    "name": "KATUTA_CREATE_USER_API",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "katuta-create-user",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "e1f13880-ff17-48f8-b3f5-7c08a49c66cc",
            "name": "Webhook Create User",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "katuta-create-user-webhook-id-replace-me"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "ENTER_YOUR_SHEET_ID_HERE",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Usuarios_Admin",
                    "mode": "name"
                },
                "options": {},
                "mappingMode": "defineBelow",
                "valuesToMapping": {
                    "mapping": [
                        {
                            "column": "Username",
                            "value": "={{ $json.body.username }}"
                        },
                        {
                            "column": "Password",
                            "value": "={{ $json.body.password }}"
                        },
                        {
                            "column": "Role",
                            "value": "={{ $json.body.role || 'viewer' }}"
                        },
                        {
                            "column": "Name",
                            "value": "={{ $json.body.name }}"
                        }
                    ]
                }
            },
            "id": "4da659de-1f29-42b7-a3f1-dcd16bcf6b96",
            "name": "Adicionar no Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "2db4df44-2451-40be-aaa8-52c789196b05",
            "name": "Sucesso",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "parameters_from_ui": {
                "keepOnlySet": true,
                "values": {
                    "boolean": [
                        {
                            "name": "success",
                            "value": true
                        }
                    ],
                    "string": [
                        {
                            "name": "message",
                            "value": "Usuário criado com sucesso no banco de dados."
                        }
                    ]
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Create User": {
            "main": [
                [
                    {
                        "node": "Adicionar no Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Adicionar no Sheets": {
            "main": [
                [
                    {
                        "node": "Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}